body {
    margin: 0;
    background: #111;
    font-family: Arial;
    color: white;
    text-align: center;
}

canvas {
    display: block;
    margin: auto;
    background: #222;
}

.screen {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.85);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.hidden {
    display: none;
}

button {
    padding: 10px 25px;
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
}
